/***************************************************
// Reset
***************************************************/

/* border-box makes everything easy */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,input,select,textarea,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,nav,section,main{
	box-sizing: border-box;
}

/* Better behavior for lists */
ul,ol{
	list-style-position: outside;
	margin-left: 1.4rem;
	padding-left: 0;
}

/* Keep images and videos from overspilling their bounds */
img, video{
	display: block;
	max-width :100%;
	height: auto;
}

/* Make hr just a simple line */
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1rem 0;
	padding: 0;
}

/* Reduce quirky behavior for tables */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Make input text line up with other text */
input,select{
	vertical-align: middle;
}

/* Kill default borders on fieldsets */
fieldset{
	border: none;
}

/* It's rare to want an inline textarea */
textarea{
	display: block;
}

/* Make sub and sup text line up better */
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup{
	top: -0.5rem;
}
sub{
	bottom: -0.25rem;
}

/* A fix for SVG display in old versions of IE. */
svg:not(:root){
	overflow: hidden;
}

/*==============================================

	Colors

===============================================*/

html {

	/* primary colors */
	--color-sunset:#f2b706;
	--color-bridge:#da6e00;
	--color-river:#4087aa;

	/* light colors */
	--color-sunset-light:#ffe94e;
	--color-bridge-light:#ff9e3e;
	--color-river-light:#74b7de;

	/* dark colors */
	--color-sunset-dark:#ba8800;
	--color-bridge-dark:#a24100;
	--color-river-dark:#005a7b;

}


/*==============================================

	Typography

===============================================*/

html {
	color: var(--color-bridge);

	/* fonts  */
	--font-primary:'Open Sans', Helvetica, sans-serif;
	--font-display:'Abril Fatface', Helvetica, cursive;

	line-height: 1.5;
}

body {
	font-family: var(--font-primary);
	margin: auto;
	text-align: center;
	
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-display);
}

main {
	margin: auto;
	max-width: 40rem;
	text-align: center;
}

 main a {
	
	
}

main a:visited {
	color: var(--color-sunset-dark);
	
}

main a:hover {
	color: var(--color-sunset-light);
	
}

main a:focus {
	background: var(--color-river-light);
}

main a:active {
	color: var(--color-bridge-dark)
}


/*===============================================

	Header Component

=================================================*/

.site-header {
	background-color: var(--color-river);
	padding: 2rem;
}

.site-navigation li {
	display: inline;
}

.site-navigation ul {
	padding-left: 0;
}

.logo {
	color: var(--color-sunset-light);
	font-family: var(--font-display);
	font-size: 3rem;
	text-decoration: none;
}


nav a {
	color: var(--color-sunset);
	
}

nav a:visited {
	color: var(--color-sunset-dark);
	
}

nav a:hover {
	color: var(--color-sunset-light);
	
}

nav a:focus {

	
}

nav a:active {
	color: var(--color-bridge-dark)
}


/*===============================================

	Main Component

=================================================*/

.identity {
	list-style: none;
	
}

/*=============================================

	Examples

==============================================*/

.display-font {
		font-family: var(--font-display);
}

.primary-font {
	font-family: var(--font-primary);
}

.display {
	font-family: Arial;
}

.primary {
	font-family: Arial;
}



/*=============================================

	Footer Component

==============================================*/

.site-footer {
	background-color: var(--color-river);
	padding: 2rem;
}

.site-footer li {
	display: inline;
}

.site-footer ul {
	padding-left: 0;
}

.site-footer p {
	color: var(--color-sunset);
}




